.App {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  } 